// *** colors *** //
$primary_400: #7B6EF6;

$gray_50:  #EBEEF5;
$gray_200: #A8AEBF;
$gray_300: #8E95A9;
$gray_400: #767E94;
$gray_600: #475069;
$gray_700: #323B54;
$gray_900: #121829;

$warning_500: #FFAD49;

$white: #ffffff;